services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: "libra-link"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 3s
      retries: 10

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10

  api-migrate:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    env_file:
      - apps/api/.env.example
    environment:
      API_DATABASE.HOST: "db"
      API_DATABASE.PASSWORD: "postgres"
      API_CACHE.REDIS_ADDRESS: "redis:6379"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    command: ["/app/migrate"]
    restart: "no"

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    env_file:
      - apps/api/.env.example
    environment:
      API_DATABASE.HOST: "db"
      API_DATABASE.PASSWORD: "postgres"
      API_CACHE.REDIS_ADDRESS: "redis:6379"
    ports:
      - "8080:8080"
    depends_on:
      api-migrate:
        condition: service_completed_successfully
      db:
        condition: service_healthy
      redis:
        condition: service_healthy



volumes:
  db_data:
  redis_data:
